@charset "UTF-8";
body{
    margin: 20px;
    font-size: 14px;
}
table{
    border-collapse: collapse;
    border: 1px solid #ccc;
}
th{
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
}
td{
    border: 1px solid #ccc;
    padding: 5px;
}
button{
    padding: 5px;
    margin: 5px;
}
.red{
    color: red;
}
#nav{
    margin: 20px;
}
#nav li{
    padding: 5px;
    margin: 5px;
}