body {
    background-color: lightgray;
}
p {
    color: green;
    font-size: 16px;
}

.icon {
    width: 15px;  /* 幅を100ピクセルに設定 */
    height: 15px;  /* 高さを自動調整 */
}

th.asc::after {
    content: " ⬆";
  }
  
  th.desc::after {
    content: " ⬇";
  }

.header {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: black;
}

/* 行の下に罫線を追加する */
.table-row {
    border-bottom: 1px solid gray;
}

table {
    border-collapse: collapse;
}