<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>コンボ集</title>
    <script src="javascript\combo.js"></script>
    <link rel="stylesheet" href="css\combo.css">
</head>
<body>
    
    <h1>コンボ集テスト</h1>
    <a href="/combos/add" class="add-btn">追加</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>ダメージ</th>
                <th>入力</th>
                <th>スタートアップ</th>
                <th>使用DG</th>
                <th>使用SA</th>
                <th>説明</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="combo : ${combos}">
                <td th:text="${combo.id}" data-id="${combo.id}"></td>
                <td><span class="editable" data-name="name" th:data-id="${combo.id}" th:text="${combo.name}"></span></td>
                <td><span class="editable" data-name="damage" th:data-id="${combo.id}" th:text="${combo.damage}"></span></td>
                <td><span class="editable" data-name="input" th:data-id="${combo.id}" th:text="${combo.input}"></span></td>
                <td><span class="editable" data-name="startup" th:data-id="${combo.id}" th:text="${combo.startup}"></span></td>
                <td><span class="editable" data-name="usagedg" th:data-id="${combo.id}" th:text="${combo.usagedg}"></span></td>
                <td><span class="editable" data-name="usagesa" th:data-id="${combo.id}" th:text="${combo.usagesa}"></span></td>
                <td><span class="editable" data-name="explain" th:data-id="${combo.id}" th:text="${combo.explain}"></span></td>
                
                <td id="buttons-container">
                    <button class="edit-btn" th:data-id="${combo.id}" onclick="clickButton(this.closest('tr'), this)">編集</button>
                    <button class="delete-btn" th:data-id="${combo.id}" onclick="deleteCombo(this.getAttribute('data-id'))">削除</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
