<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello</title>
</head>
<body>
    <p>これはp要素です。段落の意味があります。</p>
    <a th:href="@{/}">これはa要素です。ハイパーリンクを作ります。</a><br>
    <em>これはem要素です。文章を強調させます。</em><br>
    <strong>これはstrong要素です。重要深刻緊急の意味を持ちます。</strong><br>
    <blockquote>これはblockquote要素です。引用されたものです。ブロックレベルです。</blockquote>
    <q>これはq要素です。引用されたものです。インラインレベルです。</q>
    <cite>これはcite要素です。作品名を表します。</cite><br>
    <mark>これはmark要素です。もともとそうなっていない文章の一部分を強調したいときに使う。</mark><br>
    <small>これはsmall要素です。メインコンテンツでないものを表しますcopyright免責事項など。</small>
    <p>
        <data value="これがdataの内容">これはdata要素を持つ文章です。コンテンツを機械可読方式で表します。表示されているのはp要素です。</data>
    </p>
    <p>
        <time datatime="2023-11-01">これはtime要素を持つ文章です。コンテンツの持つ日時情報を機械可読方式で表します。表示されているのはp要素です。</time>
    </p>
    <abbr>これはabbr要素です。この部分が略語であることを示します。</abbr>
    <dfn>これはdfn要素です。この部分が定義であることを示します。</dfn>
    <b>これはb要素です。この部分を実用的な意味で強調させます。</b>
    <i>これはi要素です。学名などを表します。</i>
    <s>これはs要素です。すでに正しい情報でなくなった部分をさします。</s>
    <u>これはu要素です。スペルミスの部分を表します。</u>
    <bdo dir="rtl">これはbdo要素です。文字の方向を変えます。</bdo>
    <bdi>これはbdi要素です。文字の方向を変えます。bdoの影響を受けない独立したものになります。</bdi>
    <pre>これはpre要素です。このテキストは成形済みであることを示します。</pre>
</body>
</html>