<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>コンボ集</title>
    <script src="javascript\combo.js"></script>
    <link rel="stylesheet" href="css\combo.css">
</head>
<body>
    
    <h1>コンボ集テスト</h1>

    <h2>使い方</h2>
    <p>HP.LKなどと入力したらアイコンになります。</p>

    <form>
        <label for="search">検索:</label>
        <input type="text" id="search" name="search" placeholder="名前やキーワードを入力">
        <button type="button" onclick="searchCombos()">検索</button>
    </form>


    <button onclick="showForm()">追加</button>

    <a href="/combos/add" class="add-btn">追加</a>
    <table>
        <thead>
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">名前</th>
                <th onclick="sortTable(2)">ダメージ</th>
                <th >入力</th>
                <th onclick="sortTable(3)">発生</th>
                <th onclick="sortTable(4)">使用DG</th>
                <th onclick="sortTable(5)">使用SA</th>
                <th>説明</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="addFormRow" style="display:none;">
            <tr>
                <td></td> <!-- IDは自動生成なので入力不要 -->
                <td><input type="text" id="name" name="name" placeholder="名前"/></td>
                <td><input type="number" id="damage" name="damage" placeholder="ダメージ"/></td>
                <td><input type="text" id="input" name="input" placeholder="入力"/></td>
                <td><input type="number" id="startup" name="startup" placeholder="発生"/></td>
                <td><input type="number" id="usagedg" name="usagedg" placeholder="使用DG"/></td>
                <td><input type="number" id="usagesa" name="usagesa" placeholder="使用SA"/></td>
                <td><input type="text" id="explain" name="explain" placeholder="説明"/></td>
                <td><button type="submit">保存</button></td>
            </tr>
        </tbody>
        <tbody>
            <tr th:each="combo : ${combos}">
                <td th:text="${combo.id}" data-id="${combo.id}"></td>
                <td><span class="editable" data-name="name" th:data-id="${combo.id}" th:text="${combo.name}"></span></td>
                <td><span class="editable" data-name="damage" th:data-id="${combo.id}" th:text="${combo.damage}"></span></td>
                <td><span class="editable" data-name="input" th:data-id="${combo.id}" th:text="${combo.input}"></span></td>
                <td><span class="editable" data-name="startup" th:data-id="${combo.id}" th:text="${combo.startup}"></span></td>
                <td><span class="editable" data-name="usagedg" th:data-id="${combo.id}" th:text="${combo.usagedg}"></span></td>
                <td><span class="editable" data-name="usagesa" th:data-id="${combo.id}" th:text="${combo.usagesa}"></span></td>
                <td><span class="editable" data-name="explain" th:data-id="${combo.id}" th:text="${combo.explain}"></span></td>
                
                <td id="buttons-container">
                    <button class="edit-btn" th:data-id="${combo.id}" onclick="clickButton(this.closest('tr'), this)">編集</button>
                    <button class="delete-btn" th:data-id="${combo.id}" onclick="deleteCombo(this.getAttribute('data-id'))">削除</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
