<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>追加</title>
</head>
<body>
    <h1>コンボ追加</h1>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>ダメージ</th>
        <th>入力</th>
        <th>スタートアップ</th>
        <th>操作</th>
    </tr>
    <form th:action="@{'/combos/add'}" th:method="post" th:object="${combo}">
        <!-- 追加フォームの入力フィールド -->
        <input type="text" th:field="*{name}" />
        <input type="number" th:field="*{damage}" />
        <input type="text" th:field="*{input}" />
        <input type="number" th:field="*{startup}" />
        <input type="text" th:field="*{explain}" />
        <!-- 他のフィールドも同様に追加 -->
        <input type="submit" value="追加" />
</body>
</html>
