<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>コンボ集</title>
    <script src="combo.js"></script>
</head>
<body>
    
    <h1>コンボ集</h1>
    <a href="/combos/add" class="add-btn">追加</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>ダメージ</th>
                <th>入力</th>
                <th>スタートアップ</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="combo : ${combos}">
                <td th:text="${combo.id}"></td>
                <td th:text="${combo.name}"></td>
                <td th:text="${combo.damage}"></td>
                <td th:text="${combo.input}"></td>
                <td th:text="${combo.startup}"></td>
                <td>
                    <a th:href="@{'/combos/' + ${combo.id} + '/edit'}" class="edit-btn">編集</a>
                    <button class="delete-btn" th:data-id="${combo.id}">削除</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
